/* This file is for your main application CSS */
@import "./phoenix.css";

.one-letter { color: #88b }
.one-letter-correct { color: #8b8 }

.letters .one-letter {
    width: 1em;
    font-size: 300%;
    display: inline-block;
}
